<?xml version="1.0" encoding="utf-8"?>

<configuration status="WARN">
  <Properties>
    <property name="LOG_DIR" value="${sys:LOG_PATH:-log}"/>
    <property name="LOG_FILE_NAME" value="${sys:LOG_DIR}/app.log"/>
    <property name="LOG_FILE_PATTERN" value="${sys:LOG_DIR}/app-%d{yyyy-MM-dd-HH}.log.gz"/>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %c{1.} - %msg%n"/>
  </Properties>

  <appenders>
    <console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${LOG_PATTERN}"/>
    </console>

    <RollingFile name="RollingFileInfo" fileName="${sys:LOG_FILE_NAME}"
      filePattern="${sys:LOG_FILE_PATTERN}">
      <PatternLayout pattern="${LOG_PATTERN}"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="12"/>
        <SizeBasedTriggeringPolicy size="1GB"/>
      </Policies>
      <DefaultRolloverStrategy max="7"/>
    </RollingFile>

  </appenders>
  <loggers>
    <root level="info">
      <appender-ref ref="Console"/>
      <appender-ref ref="RollingFileInfo"/>
    </root>
  </loggers>
</configuration>